.nav {
    grid-area: n;
    background-color: #333333;
    font-style: normal;
    color: aliceblue;
    font-size: large;
    text-shadow: 1px 1px 1px grey,
               1px 1px 1px grey;
    padding-left: 7px;
    
  }
/* 
  .item{
    color: red;
  } */